@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tour dal Commerce</h1>
  <p>
        <h3> This the Application I am currently Working on</h3>
  </p>
 <a class="btn btn-outline-success" href="https://github.com/projectsbybalkrishna/">GitHub (Personal)</a> <br /> <br />
    <a class="btn btn-outline-secondary" href="https://github.com/Balkrishna-1663/">GitHub (Main)</a> <br /> <br />

 <a class="btn btn-outline-primary" href="https://linkedin/in/balkrishna-singh/">Linked In</a>
</div>
